---
import "@/styles/globals.css";
interface Props {
  title: string;
  imageUrl?: string;
}

const { title, imageUrl } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:type" content="website" />
    {imageUrl && <meta property="og:image" content={imageUrl} />}
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body class="dark bg-gray-950 text-white">
    <slot />
  </body>
</html>
